FINNHUB_API_KEY=
DATABASE_PATH=./data/market_board.sqlite3
DATABASE_SEED_PATH=./data/market_board.sqlite3
WATCHLIST_PATH=./config/watchlists.yaml
WATCHLIST_SEED_PATH=./config/watchlists.yaml
QUOTE_POLL_SECONDS=10
HISTORY_REFRESH_SECONDS=3600
CRYPTO_ETF_FLOW_CACHE_SECONDS=900
ENABLE_BACKGROUND_TASKS=true
EDIT_TOKEN=
